*{
    font-family: yekan;
}

:root{
    --secondary-color: #818386;
    --bg-color : #c0c0c059;
}

.label--form{
    color: var(--secondary-color);  
    font-weight: 500;
    font-size: 0.9rem;
    width: 40vw;
    display: block;
}

.input--form , .txtarea--form {
  width: 40vw;
  display: block;
  border-radius: 5px;
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}
.txtarea--form{
  resize: none;
}


.form--temp{
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

.input--form :hover {
    opacity: 0.5;
  }

.form-section {
    color: #fff;
    padding: 160px 50px;
  }
  
  .form-row {
    align-items: center;
  }
  
  .form--row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .form--col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .form-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .form-heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  .form-dark {
    color: #1c2237;
  }
  
  .form-img-wrapper {
    max-width: 555px;
  }
  
  .form-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  @media screen and (max-width: 991px) {
    .form-container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .form-text-wrapper {
      padding-bottom: 65px;
    }
  
    .form--col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  